<a href="https://colab.research.google.com/github/sriman-colab/sriman-repository/blob/main/2_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My first python program

In [ ]:
print("hello world!")

hello world!

In [ ]:
print("Hi! How are you?")

Hi! How are you?

In [ ]:
print("lihasdbfviuwebafi34572389457soidh@")

lihasdbfviuwebafi34572389457soidh@

Quiz 1

In [ ]:
print("10")

10

Quiz 2

In [ ]:
print("5 * 10")

5 * 10

Quiz 3

In [ ]:
Print(5 * 10)

NameError: name 'Print' is not defined

In [ ]:
print(5 * 10)

50

Python Is a Case-Sensitive Language

Basic Arithmetic Operations

In [ ]:
print(5 * 10) #it will be calculated -> multiplication -> 50
print(10 / 5)  #it will be calculated -> dividion -> 2
print(10 + 5) # addition -> 15
print(15 - 5) # subtraction -> 10

50
2.0
15
10

Quiz 4

In [ ]:
print(8 * 6)

48

String Concatenation in Python

In [ ]:
print("Hello" + "123") #string concatenation
print("Hello + 123")

Hello123
Hello + 123

In [ ]:
city="Delhi"
country="India"
# Delhi is in India
print(city + " is in " +country)

Delhi is in India

Quiz 5:


Print "A says Hi to B" (Without quotations), where A and B are the names "Ram" and "Shyam".

In [ ]:
A="Ram"
B="Shyam"
print(A+" says Hi to "+ B)

Ram says Hi to Shyam

Comments

In [ ]:
# comment
#print("Hi")
# this
#is
#a
#multi-line
#comment

"""
hi
im
akanksha
"""

Primitive data types in Python:

Every data is in a certain form, for example, a name is a String, a number is an integer, etc..

Let us take an example of Student details,

**Name:** string, we never name as 1, 2, etc, it will always be a string.

**Roll number:** integer

**marks:** decimal(float), marks can be decimal value as sometimes there may be half marks

**is_absent:** True/False, the student is absent or present, so it is a boolean value.



**Data types:** is a type of data we have in Python programming language.

In Python, we have a function named type, if we pass any data to it, it will print the type of that data.

In [ ]:
#Integer
print(type(23)) # - infinity to + infinity -> integer
print(type(-234))

<class 'int'>
<class 'int'>

In [ ]:
#Float
print(type(23.0))
print(type(-23.4))

<class 'float'>
<class 'float'>

In [ ]:
#String
print(type('anbcd'))
print(type("bskjdfbs"))
print(type('1'))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
#Boolean
print(type(True))
print(type(False))
print(type("true")) #string

<class 'bool'>
<class 'bool'>
<class 'str'>

In [ ]:
print(type(None))

<class 'NoneType'>

Quiz 6

In [ ]:
print(type(true)) # True is the correct keyword for boolean

NameError: name 'true' is not defined

BREAK : 10:00 pm - 10:10 pm

Variables

In [ ]:
a=10 # a is a variable which has value 10
a=20 #same variable a has now a changed value which is 20
print(a)
print(type(a))

20
<class 'int'>

In [ ]:
pi=3.14
print(type(pi)) #3.14
pi=3
print(type(pi)) #3

<class 'float'>
<class 'int'>

Rule of Naming Variable

In [ ]:
"""
1. Name must start from alphabet(a-z or A-Z) or underscore (_)
Box, store, _var, SDFGH, dhf, idfsAUHjn_

2. But it cant start from a number
1var this is not allowed

3. It can not have special characters
b@h this is not allowed

4. Names are case Sensitive, a and A are different variables

name -> valid
Name1 -> valid
_count -> valid
user_age -> valid
data101 -> valid
Total_Score_2025 -> valid

1name -> invalid
@value -> invalid
Total-Score-2025 -> invalid
user name -> invalid

Quiz 7

In [ ]:
	'''
  hELLO -> valid
	1_name_Input -> starts with a number invalid
	a * b * c -> * is a special char invalid
	Cod3$# # $# is a special char invalid
  '''

TypeCasting

In [ ]:
# Integer to String
a=123
print(a)
print(type(a)) #123
print(type(str(a))) # "123"

123
<class 'int'>
<class 'str'>

In [ ]:
# Float to string
b=3.14
print(type(b))
print(type(str(b)))

<class 'float'>
<class 'str'>

In [ ]:
#Boolean to string
c=True
print(type(c))
print(type(str(c)))

<class 'bool'>
<class 'str'>

Taking Input in Python

In [ ]:
# input() function
'''
1. It always takes string as input
2. you can also print msgs while taking input
input("your message")
'''

In [ ]:
a=input("Enter the value here: ")
print(a)
print(type(a)) #input function always accepts string

Enter the value here: 56
56
<class 'str'>

In [ ]:
b=input("Enter an integer value: ")
c=int(b)
print(c)

Enter an integer value: 6
6

Quiz 8

In [ ]:
b = input() # input value = 234
print(type(b))

234
<class 'str'>

Adding Two Numbers

In [ ]:
a=input()
b=input()

print(a+b) #string concatenation -> incorrect approach

10
20
1020

In [ ]:
a=input()
b=input()

print(int(a+b)) # converts string to int -> incorrect approach

In [ ]:
a=int(input())
b=int(input())

print(a+b) #integer addition -> correct approach

10
20
30

Printing Output in Python

In [ ]:
a=10
b=20
print(a,b)

10 20

In [ ]:
'''
sep and end

sep defines what seperates the value (default is space)
end defines what appears at the end of the statement (default is new line)

In [ ]:
print("John","Doe")
print("John","Doe",sep="-")
print(10,20,sep="@")
print(1,2,3,4,5,6,7,8,sep="\n")

John Doe
John-Doe
10@20
1
2
3
4
5
6
7
8

In [ ]:
print(1,2,3,end=" ")
print(4)

1 2 3 4

In [ ]:
print(1,2,3,4,sep="-",end="+")
print(5)

1-2-3-4+5

Quiz 9

In [ ]:
a = 5
b = 6
print(a, b)

5 6

Quiz 10

In [ ]:
a = 5
b = 6
print(a)
print(b)

5
6

Quiz 11

In [ ]:
print("I", "Love", "Python", sep = "-")

I-Love-Python

DOUBTS

In [ ]:
print(1,end="")
print(12,end="")
print(123,end="")
print(1234,end="")
#end = \n

1121231234