<a href="https://colab.research.google.com/github/sriman-colab/sriman-repository/blob/main/6day_27thAug25_Python_Sriman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def celsius_farhen(Celsius):
    # YOUR CODE GOES HERE
    Far = (9/5 * Celsius) + 32
    print(round(Far,2))

    return round(Far,2) # Returning Fahrenheit value

if __name__ == '__main__':
    # Example usage: Call the function with a Celsius value
    celsius_value = 33.534 # Example Celsius value
    fahrenheit_value = celsius_farhen(celsius_value)
    print(f"{celsius_value} Celsius is equal to {fahrenheit_value} Fahrenheit")

92.36
33.534 Celsius is equal to 92.36 Fahrenheit

In [3]:
n = int(input())
print(" ".join([str(i) for i in range(1,n+1)]))
print(" ".join([str(i) for i in range(n,0,-1)]))

5
1 2 3 4 5
5 4 3 2 1

In [4]:
#Case 1: Function expects n as an argument

#If the test system (or your code) will call the function and pass n, then you do not write input() inside.

def sequence(n: int) -> None:
    print(" ".join(str(i) for i in range(1, n+1)))
    print(" ".join(str(i) for i in range(n, 0, -1)))

# Caller gives n explicitly
sequence(5)

1 2 3 4 5
5 4 3 2 1

In [5]:
#Case 2: Function reads n from user input

#If the assignment says “take input from user”, then you must add input() yourself:

def sequence() -> None:
    n = int(input("Enter a number: "))
    print(" ".join(str(i) for i in range(1, n+1)))
    print(" ".join(str(i) for i in range(n, 0, -1)))

# No argument needed, user types the number
sequence()

Enter a number: 6
1 2 3 4 5 6
6 5 4 3 2 1

In [ ]:
def road_tax(cost_price: float) -> float:
    if cost_price > 100000:
        tax = cost_price * 0.20
    elif cost_price > 75000:
        tax = cost_price * 0.15
    elif cost_price > 50000:
        tax = cost_price * 0.10
    else:
        tax = cost_price * 0.05

    return round(tax, 1)

In [ ]:
#Note 2: You need not take input in this problem, you need only to implement the function provided._
def simple_int(time: int,pa: float,ir: float):
    ''' time, pa, ir represents the time in number of days, principal amount and rate of interest
        Return the simple interest'''
    ans = 0
    # YOUR CODE GOES HERE
    ans = pa * (1 + (time/365) * (ir /100) )


    return round(ans,2)

In [ ]:
"""
Problem Description:
Write a program to print all Natural numbers from 1 to N and from N to 1 inclusive, where N is given as an argument.
Note1: First print from 1 to N then in new line print again from N to 1
Note2: You need not take input in this problem, you need to only implement the function provided.
Note3: There is 1 line gap between two output lines and a space between numbers in same line.
"""